---
---

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
}

a {
  color: #44b;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h3 > small {
  color: #666;
}

.vcard div {
  line-height: 1.5em;
}

.top-level-list > ul {
  border-left: 1px dashed #ccc;
  margin-left: 0.5em;
  padding-left: 1em;
}

.top-level-list > ul > li {
  line-height: 1.5em;
  list-style: none;
}

.top-level-list > ul > li::before {
  content: '◯'; // '⬤';
  position: absolute;
  font-weight: bold;
  margin-left: -28px;
  margin-top: -4px;
  color: #999;
  border: 4px solid white;
  background-color: #fff;
}

.top-level-list > ul > li > ul {
  margin-left: 0.5em;
  padding-left: 1em;
}

@media print {
  @page {
    size: auto;
    margin: 16.8mm 25.4mm 19mm 25.4mm;
    padding: 0;
  }
}
