---
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Meddon&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/jkrems.css">
<style>
main {
  /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16pt;
  font-family: 'Indie Flower', cursive;

  max-width: 650px;
  margin: 20px auto;
  box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.1);
  padding: 40px;
  border: 2px solid #ccc;
  background: #fdfaf3;
  color: #090a52;
}

main p {
  line-height: 1.4;
}

h2 {
  font-size: 16pt;
  font-family: 'Meddon', cursive;
}
</style>
</head>
<body>
  <main>
    <h2>{{ page.salutation }}</h2>
    {{content}}
  </main>
</body>
</html>
